.first-stop {
  display: flex;
  flex-direction: column;

  .stop-info{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    background: #fff;
    overflow: hidden;
    position: relative;

    .text {
      width: max-content;

      p{
        max-width: 20rem;
        margin-top: 0.3rem;

        span {
          font-weight: bold;
        }
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      transition: transform 2s ease-in-out;
    }
  }

  .stop-info:hover{
      
    img {
      transform: translateX(100%);
    }
  }
}

.other-stop{
  display: flex;
  flex-direction: column;

  .stop-info {
    background: var(--NS-geel);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  
    p {
      width: fit-content;
      justify-self: left;
      grid-row: 2 / 3;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      grid-row: 1 / 3;
      gap: 0.4rem;	
    }
  }

  h3 {
    margin: 1rem 0 0.3rem 0;
  }
}

.stop-info {
  font-family: Arial, sans-serif;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 5px;
}
