.departures {
  li {
    background-color: #fff;
    border-top: 2px solid #ddd;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease-out;
    overflow: hidden;
    position: relative;

    a {
      text-decoration: none;
      color: var(--NS-blauw);
      padding: 12px;
      align-items: center;
    }

    img {
      height: 3rem;
      max-width: 100%;
      transition: margin-left 2s ease-in-out, transform 0.5s ease-in-out;
    }
  }

  li:hover {
    background-color: var(--hover-color);

    img {
      transform: translateX(10rem);
    }
  }
}

.departure-info {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  h3 {
    font-size: 20px;
  }

  .tijd {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .spoor {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
  }

  .product {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
  }
}



