{% layout "server/layouts/base.liquid" %}

{% block content %}

<button id="getLocation">Vind dichtstbijzijnde station</button>
<p id="stationResult"></p>
<ul id="departuresList">
  {% if departures %}
    {% for dep in departures %}
      <li>{{ dep.direction }} - {{ dep.time }} - Spoor {{ dep.track }}</li>
    {% endfor %}
  {% else %}
    <li>Nog geen vertrektijden beschikbaar.</li>
  {% endif %}
</ul>


{% endblock %}
